@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
body {
  display: flex;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
  height: 100%;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
:root.dark {
  background-color: rgb(29, 28, 28);
  color: white;
}
:root.light {
  background-color: white;
  color: black;
}
.dark-inner {
  --tw-bg-opacity: 1;
  background-color: rgb(24 24 27 / var(--tw-bg-opacity));
}
.light-inner {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
:root.dark .theme-section {
  background-color: rgba(39, 39, 42, 0.9);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
:root.light .theme-section {
  background-color: white;
  border: 0 solid #e5e7eb;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.about-section button:hover {
  border: 1px solid blue;
  animation: border-dance 2s linear infinite ease-in-out;
  transition: 1s;
}

.theme-section button:hover {
  opacity: 50%;
  transition: 300ms all;
}
.stack-section {
  display: flex;
  flex-direction: row;
}

@keyframes border-dance {
  0% {
    border-color: rgb(119, 119, 243);
  }
  100% {
    border-color: rgb(185, 185, 255);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@media only screen and (max-width: 600px) {
  .stack-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    text-align: center;
    margin-left: 50px;
  }
}
@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
